table {
  max-width: 100%;
}

tr:nth-child(odd) {
  background-color: #eee;
}

th {
  background-color: #555;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;
}

td::before {
  display: none;
}

@media screen and (max-width: 680px) {
 table {
   border: 0;
   display: block;
   box-shadow: none;
 }

 thead {
   position: absolute;
   opacity: 0;
 }
  
 tbody {
   display: block;
   width: 100%;
   min-width: 19em;
   max-width: 25em;
 }

 tr {
   border-top: 2px solid #3c3c3b;
   border-bottom: 1px solid #3c3c3b;
   display: grid;
   grid-template-columns: max-content auto;
   margin-bottom: 1em;
 }

 td {
   display: contents;
 }

 td::before {
   display: inline-block;
   font-weight: bold;
   padding: 0.5em;
   border-bottom: 1px solid;
 }
  
  td span {
    padding: 0.5em;
    border-bottom: 1px solid;
  }

 td:last-child {
   border-bottom: 0;
 }
}
